.facts-figures {
  padding: rem(180) 0 rem(90);
  background-position: left top rem(-340);
  background-repeat: no-repeat;

  @include image-set("../img/facts-figures-bg__desctop");

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(48);
  }

  &__item {
    flex: 0 1 rem(148);
  }

  @include small-tablet {
    padding: rem(90) 0 rem(45);
  }

  @include mobile {
    background: none;
  }
}
