.footer {
  padding: rem(80) 0;
  background-color: var(--color-ebonyClay);

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(60);
  }

  &__item {
    &:nth-child(even) {
      justify-self: end;
    }

    &_touch {
      max-width: rem(495);
    }
  }

  .logo {
    margin-right: rem(60);
  }

  .social {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: rem(24);
  }
}
