.header {
  padding: rem(22) 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: rem(20);
  }

  .logo {
    flex-shrink: 0;
    margin: 0 rem(60) 0 0;

    @include laptop {
      margin: 0 rem(40) 0 0;
    }

    @include small-tablet {
      margin: 0 auto 0 0;
    }
  }

  .navigation {
    margin-right: auto;

    &__list {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-auto-flow: row dense;
      gap: rem(20) rem(40);

      @include tablet {
        gap: rem(20);
      }
    }

    @include small-tablet {
      display: none;
    }
  }

  .means-of-communication {
    display: grid;
    flex-shrink: 0;
    align-items: center;
    grid-template-areas:
      "icon text"
      "icon contact";
    gap: 0 rem(12);

    &__icon {
      grid-area: icon;
    }

    &__text {
      grid-area: text;

      @include laptop {
        display: none;
      }
    }

    &__contact {
      grid-area: contact;

      @include laptop {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: rem(36);

      @include laptop {
        margin-right: rem(16);
      }
    }

    @include laptop {
      grid-template-areas: "icon";
    }
  }
}
