.our-values {
  padding: rem(90) 0 rem(60);

  .list-our-values {
    margin-bottom: rem(120);
  }

  .subtitle {
    margin: 0 0 rem(32);
  }

  .question {
    position: relative;
    margin-bottom: rem(-150);
  }
}
