.services {
  padding: rem(212) 0 rem(80);
  background-color: var(--color-porcelain);

  .list-services {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(80);
    gap: rem(30);

    &__item {
      flex: 1 1 rem(285);
      min-height: rem(285);
    }
  }
}
