.card-project {
  outline: none;
  overflow: hidden;
  border-radius: rem(4);
  height: 100%;
  box-shadow: 0 rem(4) rem(4) rem(-4) rgba(30, 33, 44, 3%),
    0 rem(12) rem(10) rem(-6) rgba(154, 156, 165, 4%),
    0 rem(30) rem(24) rem(-10) rgba(154, 156, 165, 5%),
    0 rem(80) rem(80) rem(-20) rgba(154, 156, 165, 8%);
  background-color: var(--color-white);

  &__img {
    display: block;
    width: 100%;
    min-height: rem(345);
    max-height: rem(345);
    transition-property: min-height, max-height;
    transition-duration: $transitionDuration;

    @include mobile {
      min-height: rem(300);
      max-height: rem(300);
    }

    @media (orientation: landscape) and (max-width: 1023.98px) {
      min-height: rem(240);
      max-height: rem(240);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(16) rem(20) rem(24);
  }

  &__subtitle {
    text-align: center;
    color: var(--color-ebonyClay);

    @extend .text-size-m;
  }

  &__text {
    text-align: center;
    color: var(--color-stormGray);

    @extend .text-size-xxs;
  }

  &__button-container {
    overflow: hidden;
    margin-top: 0;
    max-height: 0;
    transition-property: max-height, margin;
    transition-duration: $transitionDuration;
  }

  .button {
    display: inline-block;
    color: var(--color-primary);

    @extend .button_size-regular;
    @extend .button_border-primary;
    @extend .button_animation-dark-style;
  }

  @mixin animation {
    .card-project__img {
      min-height: rem(277);
      max-height: rem(277);

      @include mobile {
        min-height: rem(232);
        max-height: rem(232);
      }

      @media (orientation: landscape) and (max-width: 1023.98px) {
        min-height: rem(172);
        max-height: rem(172);
      }
    }

    .card-project__button-container {
      // Если поставить 24 , то элементы под карточками будут "прыгать" в firefoxe
      margin-top: rem(23.9);

      // Если поставить 44 , то в хроме не будет видно нижний бордер
      max-height: rem(44.1);
    }
  }

  /* stylelint-disable-next-line order/order */
  &:focus {
    @include animation;

    @include mouse-device {
      .button {
        border-color: transparent;
        color: var(--color-white);
        background-color: var(--color-mako);
      }
    }
  }

  @include mouse-device {
    &:hover {
      @include animation;
    }
  }
}
