.question {
  padding: rem(48) rem(60);
  background-color: var(--color-white);

  &__title {
    margin: 0 0 rem(32);
    text-align: center;
    color: var(--color-ebonyClay);

    @extend .text-size-l;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: rem(24);

    @extend .form_size-l;
    @extend .form_style-light;
    @extend .form_primary-animation;

    /* stylelint-disable-next-line order/order */
    &__label {
      flex: 1 1 auto;

      &_message {
        flex-grow: 2;
      }
    }

    &__text {
      text-align: start;
    }

    @include laptop {
      &__label {
        flex-grow: 1;
      }

      &__button {
        flex: 0 1 rem(274);
        margin: 0 auto;
      }
    }

    @include tablet {
      &__button {
        flex: 0 0 auto;
      }
    }

    @include mobile {
      &__button {
        flex: 1 1 100%;
      }
    }
  }

  @include small-tablet {
    padding: rem(42) rem(30);
  }

  @include mobile {
    padding: 1rem;

    &__title {
      margin: 0 0 rem(24);
    }
  }
}
