.social {
  &__link {
    display: block;
    outline: none;
    width: rem(24);
    height: rem(24);

    &_animation-style-primary {
      @include mouse-device {
        &:focus,
        &:hover {
          .social__icon {
            fill: var(--color-primary);
          }
        }
      }

      @include touch-device {
        &:active {
          .social__icon {
            fill: var(--color-radicalRed);
          }
        }
      }
    }

    &_animation-transform {
      transition-property: transform;
      transition-duration: $transitionDuration;

      @include mouse-device {
        &:focus {
          transform: translateY(rem(-10));

          .social__icon {
            fill: var(--color-primary);
          }
        }

        &:hover {
          .social__icon {
            fill: var(--color-primary);
          }
        }
      }

      @include touch-device {
        &:active {
          .social__icon {
            fill: var(--color-radicalRed);
          }
        }
      }
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-white);
    transition-property: fill;
    transition-duration: $transitionDuration;
  }
}
