.vacancy {
  display: flex;
  align-items: center;
  padding: rem(31) rem(40);
  gap: rem(40);

  &__item {
    &:nth-child(1) {
      flex: 1 1 auto;
    }

    &:nth-child(2) {
      flex: 0 0 auto;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(8);
    gap: rem(5) rem(24);
  }

  &__subtitle {
    @extend .text-size-m;
  }

  .button {
    color: var(--color-primary);

    @extend .button_size-regular;
    @extend .button_border-primary;
    @extend .button_animation-dark-style;
  }
}
