.card-project {
  outline: none;
  border-radius: rem(4);
  height: 100%;
  box-shadow: 0 rem(4) rem(4) rem(-4) rgba(30, 33, 44, 0.03),
    0 rem(12) rem(10) rem(-6) rgba(154, 156, 165, 0.04),
    0 rem(30) rem(24) rem(-10) rgba(154, 156, 165, 0.05),
    0 rem(80) rem(80) rem(-20) rgba(154, 156, 165, 0.08);
  background-color: var(--color-white);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(16) rem(20) rem(24);
  }

  &__button-container {
    overflow: hidden;
    margin-top: 0;
    max-height: 0;
    transition-property: max-height, margin;
    transition-duration: $transitionDuration;
  }

  &__button {
    display: inline-block;
    text-transform: uppercase;
  }

  &__img {
    max-height: rem(345);
    transition-property: max-height;
    transition-duration: $transitionDuration;

    @include laptop {
      max-height: rem(274);
    }
  }

  @include mouse-device {
    &:hover,
    &:focus {
      .card-project__img {
        max-height: rem(277);

        @include laptop {
          max-height: rem(203);
        }
      }

      .card-project__button-container {
        margin-top: rem(22);
        max-height: rem(46);
      }
    }
  }
}
