.color-ebony-clay {
  color: var(--color-ebonyClay);
}

.color-storm-gray {
  color: var(--color-stormGray);
}

.color-white {
  color: var(--color-white);
}

.color-primary {
  color: var(--color-primary);
}

.color-mako {
  color: var(--color-mako);
}
