.head-office {
  &__subtitle {
    margin: 0 0 rem(13);
    text-transform: uppercase;
    color: var(--color-white);

    @extend .text-size-xs;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(4);
  }

  &__text {
    color: var(--color-white);

    @extend .text-size-xs;
  }

  &__address {
    font-style: normal;
  }

  &__span {
    color: rgba(255, 255, 255, 60%);
    transition: color $transitionDuration;
  }

  a {
    @include color-animation('.head-office__span');
  }
}
