.head-office {
  &__subtitle {
    margin: 0 0 rem(13);
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(4);
  }

  &__address {
    font-style: normal;
  }

  &__span {
    color: rgba(255, 255, 255, 0.6);
  }
}
