.navigation {
  &__link {
    outline: none;
    font-weight: 700;
    font-size: var(--fz-16);
    line-height: lh(26, 16);
    color: var(--color-mako);
    border-bottom: rem(2) solid transparent;
    transition-property: color, border-color;
    transition-duration: $transitionDuration;

    @include mouse-device {
      &:hover,
      &:focus {
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
    }

    @include touch-device {
      &:active {
        color: var(--color-radicalRed);
      }
    }
  }
}
