.news {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: rem(4);
  box-shadow: 0 rem(4) rem(4) rem(-4) rgba(30, 33, 44, 3%),
    0 rem(12) rem(10) rem(-6) rgba(154, 156, 165, 4%),
    0 rem(30) rem(24) rem(-10) rgba(154, 156, 165, 5%),
    0 rem(80) rem(80) rem(-20) rgba(154, 156, 165, 8%);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-stormGray);
  }

  &__link {
    @include color-animation;
  }

  &__item_flex {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5) rem(24);
  }

  &__item {
    position: relative;

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      right: rem(-13);
      top: 50%;
      border-left: rem(1) solid var(--color-stormGray);
      border-radius: rem(4);
      height: 70%;
      transform: translateY(-50%);
    }
  }

  &__chat {
    margin-right: rem(8);
    width: rem(16);
    height: rem(16);
    fill: var(--color-stormGray);
  }

  &__text {
    display: -webkit-box;
    overflow: hidden;
    margin-top: rem(16);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  @mixin size-xl {
    padding-top: rem(360);

    &::before {
      height: rem(360);
    }

    .news__content {
      padding: rem(24);

      @include mobile {
        padding: 1rem;
      }
    }

    .caption {
      margin: 0 0 rem(11);
    }
  }

  @mixin size-l {
    padding-top: rem(156);

    &::before {
      height: rem(156);
    }

    .news__content {
      padding: rem(16) rem(24);

      @include mobile {
        padding: 1rem;
      }
    }

    .caption {
      margin: 0 0 rem(8);
    }
  }

  @include xs {
    &_xs-size-l {
      @include size-l;
    }

    &_xs-size-xl {
      @include size-xl;
    }
  }

  @include lg {
    &_lg-size-xl {
      @include size-xl;
    }
  }
}
