.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem(50);

  &__link {
    outline: none;

    @include mouse-device {
      &:hover,
      &:focus {
        .partners-list__img {
          filter: sepia(100%);
        }
      }
    }

    @include touch-device {
      &:active {
        .partners-list__img {
          filter: sepia(100%);
        }
      }
    }
  }

  &__img {
    width: rem(120);
    height: rem(64);
    transition: filter $transitionDuration;
  }

  @include mobile {
    justify-content: space-evenly;
    gap: rem(30);
  }
}
