.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(40);

  .button {
    flex-shrink: 0;
  }

  @include mobile {
    flex-direction: column;
    text-align: center;
    gap: rem(20);
  }
}
