[data-page='about-us'] {
  .our-values {
    padding: rem(80) 0 rem(90);
    background-color: var(--color-porcelain);

    @include small-tablet {
      padding: rem(40) 0 rem(45);
    }

    @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) and (max-height: rem(500)) {
      padding: rem(40) 0 rem(45);
    }
  }

  .our-qualities {
    margin: 0;
  }
}
