.description-services {
  padding: rem(120) 0 rem(180);
  background-image: url('../img/bg-plan-desctop.webp'),
    url('../img/bg-plan-desctop.webp');
  background-position: top 50% right -350px, bottom -450px left;
  background-repeat: no-repeat;

  &__list {
    display: flex;
    flex-flow: column wrap;
    gap: rem(120);

    @include mobile {
      gap: rem(48);
    }

    @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(576)) and (max-height: rem(500)) {
      gap: rem(48);
    }
  }

  &__item {
    display: flex;
    gap: rem(80);

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    @include tablet {
      gap: rem(40);
    }

    @include mobile {
      flex-direction: column;
      text-align: center;
      gap: 1rem;

      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }

  &__img-container {
    flex: 1 1 50%;
  }

  &__img {
    display: block;
    border-radius: rem(4);
    width: 100%;
    height: 100%;

    @include mobile {
      max-height: rem(250);
    }

    @media (orientation: landscape) and (max-width: rem(575.98)) and (max-height: rem(370)) {
      max-height: rem(150);
    }
  }

  &__content {
    flex: 1 1 50%;
    align-self: center;
  }

  &__subtitle {
    margin: 0 0 rem(24);
    color: var(--color-ebonyClay);

    @extend .text-size-l;

    /* stylelint-disable-next-line order/order */
    @include mobile {
      margin: 0 0 1rem;
    }
  }

  &__text {
    margin: 0 0 rem(48);
    color: var(--color-stormGray);

    @extend .text-size-xs;

    /* stylelint-disable-next-line order/order */
    @include mobile {
      margin: 0 0 1rem;
    }
  }

  .button {
    color: var(--color-primary);

    @extend .button_size-regular;
    @extend .button_border-primary;
    @extend .button_animation-dark-style;
  }

  @include small-tablet {
    padding: rem(60) 0 rem(90);
    background: none;
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) and (max-height: rem(500)) {
    padding: rem(60) 0 rem(90);
  }
}
