.feedback {
  padding: rem(80) 0;
  background-image: url('../img/feedback-bg__desctop.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-ebonyClay);

  &__content {
    flex-direction: column;
    margin-left: auto;
    border-radius: rem(4);
    padding: rem(48) rem(40);
    max-width: rem(495);
    box-shadow: 0 rem(4) rem(4) rem(-4) rgba(30, 33, 44, 5%),
      0 rem(12) rem(10) rem(-6) rgba(30, 33, 44, 8%),
      0 rem(26) rem(24) rem(-10) rgba(30, 33, 44, 1%),
      0 rem(60) rem(80) rem(-20) rgba(30, 33, 44, 16%);
    background-color: var(--color-white);

    @include laptop {
      margin: 0 auto;
    }

    @include mobile {
      padding: 1rem;
    }

    @media (orientation: landscape) and (min-width: rem(768)) and (max-width: rem(1023.98)) and (max-height: rem(425)) {
      max-width: 100%;
    }
  }

  &__subtitle {
    color: var(--color-ebonyClay);

    @extend .mgb-xs-24;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @extend .form_size-l;
    @extend .form_style-light;
    @extend .form_primary-animation;

    /* stylelint-disable-next-line order/order */
    &__button {
      align-self: center;
      color: var(--color-white);

      @extend .button_size-regular;
      @extend .button_background-primary;
      @extend .button_animation-dark-style;
    }
  }

  @include extraLarge {
    background-image: url('../img/feedback-bg__desctop@1.5x.webp');
  }

  @include small-tablet {
    background-image: url('../img/feedback-bg__mobile.webp');
  }

  @include mobile {
    padding: rem(60) 0;
  }

  @media (min-width: rem(768)) and (min-resolution: 2dppx) {
    background-image: url('../img/feedback-bg__desctop@2x.webp');
  }

  @media (min-width: rem(768)) and (min-resolution: 3dppx) {
    background-image: url('../img/feedback-bg__desctop@3x.webp');
  }
}
