.leave-your-comment {
  padding: rem(60) 0 rem(180);

  &__content {
    margin: 0 auto;
    max-width: rem(810);
  }

  .title {
    margin: 0 0 rem(48);
    text-align: center;

    @include mobile {
      margin: 0 0 rem(24);
    }
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(24);

    @extend .form_size-xl;
    @extend .form_style-light;
    @extend .form_primary-animation;

    /* stylelint-disable-next-line order/order */
    &__label_textarea {
      grid-column: 1 / 3;

      @extend .mgb-xs-24;
    }

    &__button {
      grid-column: 1 / 3;
      margin: 0 auto;
      color: var(--color-white);

      @extend .button_size-large;
      @extend .button_background-primary;
      @extend .button_animation-dark-style;
    }

    @include mobile {
      grid-template-columns: 1fr;

      &__button,
      &__label_textarea {
        grid-column: 1;
      }
    }

    @media (orientation: landscape) and (max-width: rem(575.98)) {
      grid-template-columns: 1fr 1fr;

      &__button,
      &__label_textarea {
        grid-column: 1 / 3;
      }
    }
  }

  @include small-tablet {
    padding: rem(30) 0 rem(90);
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) and (max-height: rem(600)) {
    padding: rem(30) 0 rem(90);
  }
}
