.modal {
  @include alert;

  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__body {
    margin: 0 1rem;
    border-radius: rem(4);
    max-height: calc(100% - 2rem);
    background-color: var(--color-white);
    opacity: 0;
    transform: translateY(-50%);
    transition-property: opacity, transform;
    transition-duration: $transitionDuration;
  }

  &__content {
    position: relative;
    padding: rem(48);
  }

  &__close {
    position: absolute;
    right: rem(24);
    top: rem(24);
    border-bottom: rem(2) solid transparent;
    width: rem(24);
    height: rem(24);
    transition: border-color $transitionDuration;

    @include mouse-device {
      &:hover,
      &:focus {
        border-bottom-color: var(--color-primary);

        .modal__icon {
          fill: var(--color-primary);
        }
      }
    }

    @include touch-device {
      &:active {
        border-bottom-color: var(--color-radicalRed);

        .modal__icon {
          fill: var(--color-radicalRed);
        }
      }
    }

    @include mobile {
      right: rem(8);
      top: rem(8);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--color-stormGray);
    transition: fill $transitionDuration;
  }

  &__subtitle {
    @extend .text-size-l;
    @extend .mgb-xs-24;
  }

  &.active {
    .modal__body {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.form-status {
  &__body {
    overflow: auto;
    height: auto;
    max-width: rem(486);
  }

  .modal__content {
    position: relative;
    padding-top: rem(112);

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: rem(48);
      width: rem(48);
      height: rem(48);
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }

    @media (max-width: rem(425)) {
      padding: rem(62) 1rem 1rem;

      &::before {
        top: rem(26);
        width: rem(36);
        height: rem(36);
      }
    }
  }

  .modal__subtitle {
    margin: 0;
    text-align: center;

    &_success {
      color: var(--color-caribbeanGreen);
    }

    &_error {
      color: var(--color-danger);
    }
  }

  &[data-status='success'] {
    .modal__subtitle {
      &_success {
        display: block;
      }

      &_error {
        display: none;
      }
    }

    .modal__content::before {
      background-image: url('../img/success.svg');
    }
  }

  &[data-status='error'] {
    .modal__subtitle {
      &_success {
        display: none;
      }

      &_error {
        display: block;
      }
    }

    .modal__content::before {
      background-image: url('../img/error.svg');
    }
  }
}

.subscribe-modal {
  &__body {
    overflow: auto;
    height: auto;
    max-width: rem(486);

    @include mobile {
      width: 100%;
      max-width: 100%;
    }
  }

  &__content {
    @media (max-width: rem(425)) {
      padding: rem(26) 1rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @extend .form_size-l;
    @extend .form_style-light;
    @extend .form_primary-animation;
  }

  .button {
    margin: rem(16) 0 0;
    color: var(--color-white);

    @extend .button_size-regular;
    @extend .button_background-primary;
    @extend .button_animation-dark-style;
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (max-height: rem(500)) {
    &__body {
      width: 100%;
      max-width: 50%;
    }

    &__content {
      padding: 1rem;
    }

    .modal__subtitle {
      margin: 0 1rem 1rem 0;
      font-size: 1rem;
    }

    .modal__close {
      right: rem(8);
      top: rem(8);
    }
  }

  @media (orientation: landscape) and (max-width: rem(767.98)) and (max-height: rem(500)) {
    &__body {
      max-width: 100%;
    }
  }
}

.cv-modal {
  width: 100%;
  height: 100%;

  &__body {
    overflow: auto;
    width: 100%;
    height: auto;
    max-width: rem(486);
  }

  &__content {
    @include mobile {
      padding: rem(24);
    }
  }

  &__subtitle {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(24);

    @extend .form_size-l;
    @extend .form_style-light;
    @extend .form_primary-animation;
  }

  .select {
    position: relative;
    z-index: 1;

    &__trigger {
      padding: rem(10.5) 1rem;
    }

    &__chosen {
      @extend .text-size-xxs;
    }

    &__body {
      position: absolute;
      width: 100%;
    }

    &__list {
      overflow: auto;
      height: rem(108);
    }

    &__item {
      @extend .text-size-xxs;
    }
  }

  .custom-file-text {
    font-size: rem(14);
    line-height: lh(21, 14);
  }

  .button {
    margin: rem(8) 0 0;
    color: var(--color-white);

    @extend .button_size-regular;
    @extend .button_background-primary;
    @extend .button_animation-dark-style;
  }

  @media (orientation: landscape) and (min-width: rem(568)) and (max-height: rem(850)) {
    &__body {
      max-width: rem(600);
    }

    .form {
      flex-flow: row wrap;

      &__item {
        flex: 1 1 calc(50% - rem(24));

        &_textarea {
          flex: 1 1 100%;
        }
      }

      &__button {
        width: 100%;
      }
    }
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(576)) and (max-height: rem(500)) {
    &__content {
      padding: rem(24);
    }

    .modal__close {
      right: rem(8);
      top: rem(8);
    }
  }
}
