.our-offices {
  padding: rem(80) 0 rem(60);
  background-color: var(--color-porcelain);

  .title {
    margin: 0 0 rem(24);
    text-align: center;
  }

  .desc {
    text-align: center;

    @extend .mgb-sm-60;
    @extend .mgb-xs-24;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(40);
  }

  &__item {
    position: relative;
    flex: 0 1 rem(250);

    @include mobile {
      flex: 1 1 100%;
      text-align: center;
    }
  }

  @include small-tablet {
    padding: rem(40) 0 rem(30);
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) and (max-height: rem(600)) {
    padding: rem(40) 0 rem(30);

    .desc {
      margin: 0 0 rem(24);
    }
  }
}
