.our-team {
  padding: rem(90) 0 rem(120);
  background-image: url('../img/bg-plan-desctop.webp');
  background-position: top 100px left;
  background-repeat: no-repeat;

  .title {
    text-align: center;

    @extend .mgb-xs-24;
  }

  .desc {
    text-align: center;
  }

  .buttons-slider {
    justify-content: flex-end;

    @extend .mgb-xs-24;

    /* stylelint-disable-next-line order/order */
    &__button {
      @extend .buttons-slider__button_style-primary;
    }
  }

  .swiper {
    margin-bottom: rem(80);

    @include small-tablet {
      margin-bottom: rem(40);
    }
  }

  &__link {
    outline: none;
    border-bottom: rem(2) solid var(--color-stormGray);
    color: var(--color-stormGray);
    transition-property: color, border-color;
    transition-duration: $transitionDuration;

    @include mouse-device {
      &:hover,
      &:focus {
        border-bottom-color: var(--color-primary);
        color: var(--color-primary);
      }
    }

    @include touch-device {
      &:active {
        border-bottom-color: var(--color-radicalRed);
        color: var(--color-radicalRed);
      }
    }
  }

  @include small-tablet {
    padding: rem(45) 0 rem(60);
    background: none;
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) {
    padding: rem(45) 0 rem(60);
    background: none;

    .swiper {
      margin-bottom: rem(40);
    }
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(576)) {
    .title + .desc {
      margin: 0 0 rem(24);
    }
  }
}
