.our-clients {
  padding: rem(120) 0;

  .title {
    text-align: center;

    @extend .mgb-sm-60;
    @extend .mgb-xs-24;
  }

  @include small-tablet {
    padding: rem(60) 0;
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) and (max-height: rem(500)) {
    padding: rem(60) 0;
  }
}
