.hero {
  margin-bottom: rem(-100);
  padding-top: rem(80);
  padding-bottom: rem(233);
  background-color: rgb(244, 245, 246);

  .crumbs {
    margin-bottom: rem(40);
  }

  .lead {
    margin: 0 0 rem(48);
    text-transform: capitalize;

    @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(576)) {
      font-size: rem(46);
    }
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem 2rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10) rem(24);
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);

    /* stylelint-disable-next-line order/order */
    &__icon {
      fill: var(--color-stormGray);
    }

    &__link {
      @extend .social__link_animation-transform;
    }
  }

  @include small-tablet {
    padding-top: rem(40);
    padding-bottom: rem(153);
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) {
    padding-top: rem(20);
    padding-bottom: rem(153);
  }
}
