.project {
  padding: rem(80) 0 rem(120);

  .crumbs {
    margin: 0 0 rem(40);
  }

  .lead {
    text-transform: capitalize;

    @extend .mgb-sm-60;
    @extend .mgb-xs-24;
  }

  &__content {
    display: grid;
    grid-template:
      'slider slider'
      'goal char' auto / 1fr 1fr;
    gap: rem(64);

    @include tablet {
      grid-template:
        'slider'
        'goal'
        'char';
      gap: rem(32);
    }
  }

  &__item {
    &_slider {
      grid-area: slider;
      min-width: 0;
    }

    &_goal {
      grid-area: goal;
      padding: rem(48) 0;

      @include tablet {
        padding: 0;
      }
    }

    &_char {
      grid-area: char;
    }
  }

  &__slider {
    overflow: hidden;
    margin-bottom: rem(20);
    border-radius: rem(4);

    .swiper-slide {
      height: rem(500);

      @media (orientation: landscape) and (max-width: rem(1023.98)) and (max-height: rem(500)) {
        height: rem(280);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__buttons-slider {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);

    &_prev {
      left: 1rem;
    }

    &_next {
      right: 1rem;
    }
  }

  .buttons-slider__button {
    @extend .buttons-slider__button_style-light;
  }

  &__slider-thumbnails {
    .swiper-slide {
      overflow: hidden;
      outline: none;
      border-radius: rem(4);
      width: rem(100);
      height: rem(100);
      opacity: 0.5;
      transition: opacity $transitionDuration;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }

      @include mouse-device {
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  .title {
    margin: 0 0 rem(40);

    @include small-tablet {
      margin: 0 0 rem(20);
    }
  }

  &__desc {
    color: var(--color-mako);

    @extend .text-size-s;

    /* stylelint-disable-next-line order/order */
    span {
      display: block;
    }
  }

  .characteristics-project {
    @include tablet {
      padding: 1rem;
    }
  }

  @include small-tablet {
    padding: rem(40) 0 rem(60);
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (max-height: rem(500)) {
    padding: rem(20) 0 rem(60);

    .crumbs {
      margin: 0 0 rem(24);
    }

    .lead {
      margin: 0 0 rem(24);
    }
  }
}
