.recent-news {
  padding: rem(90) 0 rem(120);

  .title {
    text-align: center;

    @extend .mgb-sm-60;
    @extend .mgb-xs-24;
  }

  &__list {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 57.32% 40.24%;
    margin-bottom: rem(80);
    gap: rem(30);

    @include tablet {
      grid-template-columns: 1fr;
      text-align: center;

      .tags {
        justify-content: center;
      }
    }

    @include mobile {
      margin: 0 0 rem(40);
    }
  }

  &__item {
    &_large {
      grid-row: span 2;

      @include tablet {
        grid-row: span 1;
      }
    }
  }

  @each $news in building-stable-loss, construction-assistance,
    types-flooring-materials
  {
    .news[data-news='#{$news}']::before {
      /* Desctop media */

      background-image: url('../img/recent-news-#{$news}__desctop.webp');

      @media (min-width: 1024px) and (min-resolution: 2dppx) {
        background-image: url('../img/recent-news-#{$news}__desctop@2x.webp');
      }

      @media (min-width: 1024px) and (min-resolution: 3dppx) {
        background-image: url('../img/recent-news-#{$news}__desctop@3x.webp');
      }

      /* Tablet media */

      /* stylelint-disable-next-line order/order */
      @include tablet {
        background-image: url('../img/recent-news-#{$news}__tablet.webp');
      }

      @media (max-width: 1023.98px) and (min-width: 425px) and (min-resolution: 2dppx) {
        background-image: url('../img/recent-news-#{$news}__tablet@2x.webp');
      }

      @media (max-width: 1023.98px) and (min-width: 425px) and (min-resolution: 3dppx) {
        background-image: url('../img/recent-news-#{$news}__tablet@3x.webp');
      }

      /* Mobile media */

      @media (max-width: 424.98px) {
        background-image: url('../img/recent-news-#{$news}__mobile.webp');
      }

      @media (max-width: 424.98px) and (min-resolution: 2dppx) {
        background-image: url('../img/recent-news-#{$news}__mobile@2x.webp');
      }

      @media (max-width: 424.98px) and (min-resolution: 3dppx) {
        background-image: url('../img/recent-news-#{$news}__mobile@3x.webp');
      }
    }
  }

  @include small-tablet {
    padding: rem(45) 0 rem(60);
  }

  @media (orientation: landscape) and (max-width: 1023.98px) and (min-width: 768px) {
    padding: rem(45) 0 rem(60);
  }
}
