.selected-projects {
  @extend .projects;

  /* stylelint-disable-next-line order/order */
  padding: rem(120) 0;

  .title {
    max-width: rem(705);
  }

  @include small-tablet {
    padding: rem(60) 0;
  }

  @media (orientation: landscape) and (max-width: rem(1023.98)) and (min-width: rem(768)) {
    padding: rem(60) 0;
  }
}
