.we-work-worldwide {
  padding: rem(80) 0 rem(120);
  background-color: var(--color-porcelain);

  &__map {
    width: 100%;
  }

  @include small-tablet {
    padding: rem(40) 0 rem(60);
  }

  @media (orientation: landscape) and (max-width: 1023.98px) and (min-width: 768px) and (max-height: 500px) {
    padding: rem(40) 0 rem(60);
  }
}
