<section class="hero">
  <div class="container">
    <ul class="list-reset crumbs">
      <li class="crumbs__item">
        <a class="crumbs__link" href="index.html">Homepage</a>
      </li>
      <li class="crumbs__item">
        <a class="crumbs__link">About Us</a>
      </li>
    </ul>
    <div class="hero__content">
      <h1 class="text-reset lead">ABOUT US</h1>
      <p class="text-reset hero__desc">
        Createx Construction Bureau has been successfully operating in the USA
        construction market since 2000. We are proud to offer you quality
        construction and exemplary service.
      </p>
    </div>
  </div>
</section>
