<section class="available-positions">
  <div class="container">
    <ul class="list-reset available-positions__item">
      <li class="available-positions__vacancy">
        <article class="vacancy">
          <div class="vacancy__item">
            <ul class="list-reset tags">
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <p class="text-reset tags__text">New York</p>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                <p class="text-reset tags__text">Full Time</p>
              </li>
            </ul>
            <h3 class="text-reset vacancy__subtitle">
              Heavy Equipment Operator
            </h3>
          </div>
          <div class="vacancy__item">
            <button class="btn-reset button">Apply now</button>
          </div>
        </article>
      </li>
      <li class="available-positions__vacancy">
        <article class="vacancy">
          <div class="vacancy__item">
            <ul class="list-reset tags">
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <p class="text-reset tags__text">San Francisco</p>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                <p class="text-reset tags__text">Full Time</p>
              </li>
            </ul>
            <h3 class="text-reset vacancy__subtitle">
              Financial Compliance Analyst
            </h3>
          </div>
          <div class="vacancy__item">
            <button class="btn-reset button">Apply now</button>
          </div>
        </article>
      </li>
      <li class="available-positions__vacancy">
        <article class="vacancy">
          <div class="vacancy__item">
            <ul class="list-reset tags">
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <p class="text-reset tags__text">New Jersey</p>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                <p class="text-reset tags__text">Full Time</p>
              </li>
            </ul>
            <h3 class="text-reset vacancy__subtitle">
              Project Manager - Buildings
            </h3>
          </div>
          <div class="vacancy__item">
            <button class="btn-reset button">Apply now</button>
          </div>
        </article>
      </li>
      <li class="available-positions__vacancy">
        <article class="vacancy">
          <div class="vacancy__item">
            <ul class="list-reset tags">
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <p class="text-reset tags__text">New York</p>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                <p class="text-reset tags__text">Full Time</p>
              </li>
            </ul>
            <h3 class="text-reset vacancy__subtitle">Environment Specialist</h3>
          </div>
          <div class="vacancy__item">
            <button class="btn-reset button">Apply now</button>
          </div>
        </article>
      </li>
      <li class="available-positions__vacancy">
        <article class="vacancy">
          <div class="vacancy__item">
            <ul class="list-reset tags">
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <p class="text-reset tags__text">New York</p>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                <p class="text-reset tags__text">Full Time</p>
              </li>
            </ul>
            <h3 class="text-reset vacancy__subtitle">Accountant</h3>
          </div>
          <div class="vacancy__item">
            <button class="btn-reset button">Apply now</button>
          </div>
        </article>
      </li>
    </ul>
    <div class="available-positions__item">
      <h3 class="text-reset available-positions__subtitle">
        Didn’t find what you were looking for?
      </h3>
      <p class="text-reset desc">
        Send your CV or subscribe to our newsletter to receive information about
        new vacancies.
      </p>
      <div class="available-positions__group">
        <button class="btn-reset button available-positions__subscribe">
          subscribe
        </button>
        <button class="btn-reset button available-positions__cv">
          send cv
        </button>
      </div>
    </div>
  </div>
</section>
