<section class="hero">
  <div class="container">
    <ul class="list-reset crumbs">
      <li class="crumbs__item">
        <a class="crumbs__link" href="index.html">Homepage</a>
      </li>
      <li class="crumbs__item">
        <a class="crumbs__link" href="about-us.html">About Us</a>
      </li>
      <li class="crumbs__item">
        <a class="crumbs__link">Available Positions</a>
      </li>
    </ul>
    <div class="hero__content">
      <h1 class="text-reset lead">AVAILABLE POSITIONS</h1>
      <p class="text-reset hero__desc">
        Build your career with Createx Construction Bureau.
      </p>
    </div>
  </div>
</section>
