<section class="constructive-decisions">
  <div class="container">
    <div class="constructive-decisions__item constructive-decisions__item_img">
      <picture>
        <source
          type="image/webp"
          srcset="img/constructive-decisions-img.webp"
        />
        <img
          class="constructive-decisions__img"
          src="img/constructive-decisions-img.webp"
          alt="Builder"
          loading="lazy"
          width="495"
          height="550"
        />
      </picture>
    </div>
    <div
      class="constructive-decisions__item constructive-decisions__item_content"
    >
      <h2 class="text-reset title">Constructive decisions</h2>
      <ul class="list-reset list-statements">
        <li class="list-statements__item">
          <p class="text-reset list-statements__text">
            Vitae ultrices ornare eu sed in est quisque duis id.
          </p>
        </li>
        <li class="list-statements__item">
          <p class="text-reset list-statements__text">
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </p>
        </li>
        <li class="list-statements__item">
          <p class="text-reset list-statements__text">
            Mauris odio pellentesque commodo, diam.
          </p>
        </li>
        <li class="list-statements__item">
          <p class="text-reset list-statements__text">
            Fermentum vestibulum est fermentum, egestas gravida scelerisque
            quis.
          </p>
        </li>
        <li class="list-statements__item">
          <p class="text-reset list-statements__text">
            At pharetra libero blandit risus, fringilla sed commodo diam.
          </p>
        </li>
        <li class="list-statements__item">
          <p class="text-reset list-statements__text">
            Integer ultricies viverra ut enim viverra ut.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
