<div class="description-services">
  <div class="container">
    <ul class="list-reset description-services__list">
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/construction.avif" />
          <img
            src="img/construction.webp"
            alt="Construction"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="description-services__subtitle">Construction</h3>
          <p class="text-reset description-services__text">
            Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius
            consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id
            sodales ultricies sed ut ut augue. Mattis habitant venenatis,
            gravida posuere massa ac interdum. Eget aliquam dignissim ut
            vestibulum.
          </p>
          <a class="btn-reset button" href="#">Learn more</a>
        </div>
      </li>
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/project-development.avif" />
          <img
            src="img/project-development.webp"
            alt="Blueprints"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="description-services__subtitle">Project Development</h3>
          <p class="text-reset description-services__text">
            Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet
            viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit
            vulputate elementum blandit massa vitae amet felis eget.
          </p>
          <a class="btn-reset button" href="#">Learn more</a>
        </div>
      </li>
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/interior-design.avif" />
          <img
            src="img/interior-design.webp"
            alt="Room design"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="description-services__subtitle">Interior Design</h3>
          <p class="text-reset description-services__text">
            Eleifend orci massa et facilisis orci feugiat ac. Congue in ut
            lacus, turpis accumsan gravida. Aliquet mattis dignissim massa
            sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget
            molestie. Turpis enim arcu, amet donec massa pellentesque nulla
            duis. Arcu dictum metus sed purus senectus faucibus eget elementum
            pretium.
          </p>
          <a class="btn-reset button" href="#">Learn more</a>
        </div>
      </li>
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/repairs.avif" />
          <img
            src="img/repairs.webp"
            alt="Ladder and tools"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="description-services__subtitle">Repairs</h3>
          <p class="text-reset description-services__text">
            Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum
            commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id
            egestas mattis. Turpis viverra nec urna ultrices urna. pretium.
          </p>
          <a class="btn-reset button" href="#">Learn more</a>
        </div>
      </li>
    </ul>
  </div>
</div>
