<div class="description-services">
  <div class="container">
    <ul class="list-reset description-services__list">
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/construction.avif" />
          <img
            src="img/construction.webp"
            alt="Construction"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="subtitle color-ebony-clay">Construction</h3>
          <p class="text-reset text color-storm-gray">
            Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
            voluptate ullamco proident ea ad.
          </p>
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            Learn more
          </a>
        </div>
      </li>
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/project-development.avif" />
          <img
            src="img/project-development.webp"
            alt="Blueprints"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="subtitle color-ebony-clay">Project Development</h3>
          <p class="text-reset text color-storm-gray">
            Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet
            viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit
            vulputate elementum blandit massa vitae amet felis eget.
          </p>
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            Learn more
          </a>
        </div>
      </li>
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/interior-design.avif" />
          <img
            src="img/interior-design.webp"
            alt="Room design"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="subtitle color-ebony-clay">Interior Design</h3>
          <p class="text-reset text color-storm-gray">
            Eleifend orci massa et facilisis orci feugiat ac. Congue in ut
            lacus, turpis accumsan gravida. Aliquet mattis dignissim massa
            sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget
            molestie. Turpis enim arcu, amet donec massa pellentesque nulla
            duis. Arcu dictum metus sed purus senectus faucibus eget elementum
            pretium.
          </p>
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            Learn more
          </a>
        </div>
      </li>
      <li class="description-services__item">
        <picture class="description-services__img">
          <source type="image/avif" srcset="img/repairs.avif" />
          <img
            src="img/repairs.webp"
            alt="Ladder and tools"
            loading="lazy"
            width="575"
            height="420"
          />
        </picture>
        <div class="description-services__content">
          <h3 class="subtitle color-ebony-clay">Repairs</h3>
          <p class="text-reset text color-storm-gray">
            Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum
            commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id
            egestas mattis. Turpis viverra nec urna ultrices urna. pretium.
          </p>
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            Learn more
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
