<section class="employee-benefits">
  <div class="container">
    <h2 class="text-reset title">Employee benefits</h2>
    <p class="text-reset desc">There’s always room for talent.</p>
    <ul class="list-reset our-qualities">
      <li class="our-qualities__item our-qualities__item_icon-brain">
        <h3 class="text-reset our-qualities__subtitle">Training</h3>
        <p class="text-reset our-qualities__text">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
          nostrud aliquip sunt.
        </p>
      </li>
      <li class="our-qualities__item our-qualities__item_icon-stairs">
        <h3 class="text-reset our-qualities__subtitle">Professional Growth</h3>
        <p class="text-reset our-qualities__text">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="our-qualities__item our-qualities__item_icon-money">
        <h3 class="text-reset our-qualities__subtitle">Growing Salary</h3>
        <p class="text-reset our-qualities__text">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
  </div>
</section>
