<section class="facts-figures">
  <div class="container">
    <h2
      class="text-reset title title_center mgb-sm-60 mgb-xs-24 color-ebony-clay"
    >
      Some facts and figures
    </h2>
    <ul class="list-reset facts-figures__list">
      <li class="facts-figures__item">
        <div class="progressbar">
          <div
            class="progressbar__circle progressbar__circle_seaBuckthorn"
            data-percentage="true"
            data-percent="98"
          >
            <svg class="progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="progressbar__bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="progressbar__progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="progressbar__value">98%</div>
          </div>
          <p class="text-reset color-ebony-clay progressbar__text">
            Totally satisfied clients
          </p>
        </div>
      </li>
      <li class="facts-figures__item">
        <div class="progressbar">
          <div
            class="progressbar__circle progressbar__circle_radicalRed"
            data-full="27"
            data-value="20"
          >
            <svg class="progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="progressbar__bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="progressbar__progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="progressbar__value">98%</div>
          </div>
          <p class="text-reset color-ebony-clay progressbar__text">
            Years of experience
          </p>
        </div>
      </li>
      <li class="facts-figures__item">
        <div class="progressbar">
          <div
            class="progressbar__circle progressbar__circle_cornflowerBlue"
            data-full="10000"
            data-value="9452"
          >
            <svg class="progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="progressbar__bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="progressbar__progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="progressbar__value">98%</div>
          </div>
          <p class="text-reset color-ebony-clay progressbar__text">
            Working hours spent
          </p>
        </div>
      </li>
      <li class="facts-figures__item">
        <div class="progressbar">
          <div
            class="progressbar__circle progressbar__circle_caribbeanGreen"
            data-percentage="true"
            data-percent="100"
          >
            <svg class="progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="progressbar__bg"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="progressbar__progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="progressbar__value">100%</div>
          </div>
          <p class="text-reset color-ebony-clay progressbar__text">
            Succeeded projects
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
