<section class="facts-figures">
  <div class="container">
    <h2
      class="text-reset title title_center mgb-sm-60 mgb-xs-24 color-ebony-clay"
    >
      Some facts and figures
    </h2>
    <ul class="list-reset facts-figures__list">
      <li
        class="facts-figures__item facts-figures__item_totally-satisfied-clients"
      >
        <div class="circle-progressbar">
          <div
            class="circle-progressbar__circle circle-progressbar__circle_seaBuckthorn"
          >
            <svg class="circle-progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="circle-progressbar__line"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="circle-progressbar__line-progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="circle-progressbar__value"></div>
          </div>
          <p class="text-reset color-ebony-clay circle-progressbar__text">
            Totally satisfied clients
          </p>
        </div>
      </li>
      <li class="facts-figures__item facts-figures__item_years-experience">
        <div class="circle-progressbar">
          <div
            class="circle-progressbar__circle circle-progressbar__circle_radicalRed"
          >
            <svg class="circle-progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="circle-progressbar__line"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="circle-progressbar__line-progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="circle-progressbar__value"></div>
          </div>
          <p class="text-reset color-ebony-clay circle-progressbar__text">
            Years of experience
          </p>
        </div>
      </li>
      <li class="facts-figures__item facts-figures__item_working-hours-spent">
        <div class="circle-progressbar">
          <div
            class="circle-progressbar__circle circle-progressbar__circle_cornflowerBlue"
          >
            <svg class="circle-progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="circle-progressbar__line"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="circle-progressbar__line-progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="circle-progressbar__value"></div>
          </div>
          <p class="text-reset color-ebony-clay circle-progressbar__text">
            Working hours spent
          </p>
        </div>
      </li>
      <li class="facts-figures__item facts-figures__item_succeeded-projects">
        <div class="circle-progressbar">
          <div
            class="circle-progressbar__circle circle-progressbar__circle_caribbeanGreen"
          >
            <svg class="circle-progressbar__svg" viewBox="-10 -10 320 320">
              <circle
                class="circle-progressbar__line"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
              <circle
                class="circle-progressbar__line-progress"
                r="150"
                cx="150"
                cy="150"
                fill="none"
                stroke-width="15"
              ></circle>
            </svg>
            <div class="circle-progressbar__value"></div>
          </div>
          <p class="text-reset color-ebony-clay circle-progressbar__text">
            Succeeded projects
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
