<section class="feedback">
  <div class="container">
    <h2 class="visually-hidden">Feedback</h2>
    <div class="feedback__content">
      <h3 class="text-reset mgb-xs-24 subtitle color-ebony-clay">
        A quick way to discuss details
      </h3>
      <form class="form form_size-l" action="#">
        <label class="form__label">
          <span class="form__text"> Name* </span>
          <input
            class="input-reset form__input"
            name="name"
            type="text"
            placeholder="Your name"
          />
        </label>
        <label class="form__label">
          <span class="form__text"> Phone* </span>
          <input
            class="input-reset form__input"
            name="phone"
            type="tel"
            placeholder="Your phone"
          />
        </label>
        <label class="form__label">
          <span class="form__text"> Email* </span>
          <input
            class="input-reset form__input"
            name="email"
            type="text"
            placeholder="Your working email"
          />
        </label>
        <label class="form__label form__label_textarea">
          <span class="form__text"> Message* </span>
          <textarea
            class="input-reset form__input form__input_textarea"
            name="message"
            cols="30"
            rows="2"
            placeholder="Your message"
          ></textarea>
        </label>
        <label class="custom-checkbox">
          <input class="custom-checkbox__field" type="checkbox" />
          <span class="custom-checkbox__content"
            >I agree to receive communications from Createx Construction
            Bureau.</span
          >
        </label>
        <button
          class="btn-reset button button_size-regular button_color-white button_background-primary form__button"
          type="submit"
        >
          Send request
        </button>
      </form>
    </div>
  </div>
</section>
