<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__item">
        <img
          class="logo"
          src="img/footer-logo.svg"
          alt="CreateX"
          loading="lazy"
          width="142"
          height="24"
        />
        <ul class="list-reset social">
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Наша страничка в Whatsapp"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Наша страничка в Messanger"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#messanger"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Наша страничка в Facebook"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Наша страничка в Twitter"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Наш канал в YouTube"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#youTube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="text-reset text color-white">
          Createx Construction Bureau has been successfully operating in the USA
          construction market since 2000. We are proud to offer you quality
          construction and exemplary service. Our mission is to set the highest
          standards for construction sphere.
        </p>
      </div>
      <div class="footer__item footer__item_touch">
        <h3 class="text-reset mgb-sm-24 subtitle color-white">
          Let’s stay in touch
        </h3>
        <form class="form form_size-l" action="#">
          <label class="form__label">
            <span class="form__text"> Email* </span>
            <input
              class="input-reset form__input"
              name="email"
              type="text"
              placeholder="Your working email"
            />
          </label>
          <button
            class="btn-reset button button_size-regular button_color-white button_background-primary form__button"
            type="submit"
          >
            subscribe
          </button>
        </form>
        <p class="text-reset text color-white">
          *Subscribe to our newsletter to receive communications and early
          updates from Createx Construction Bureau.
        </p>
      </div>
      <div class="footer__item">
        <div class="head-office">
          <h3 class="text-reset text color-white head-office__text">
            Head office
          </h3>
          <address class="text-reset text color-white head-office__address">
            <span class="head-office__span">Address:</span>
            8502 Preston Rd. Inglewood, New York
          </address>
          <a
            class="text-reset text color-white head-office__tel"
            href="tel:+4055550128"
            ><span class="head-office__span">Call:</span> (405) 555-0128</a
          >
          <a
            class="text-reset text color-white head-office__email"
            href="mailto:hello@createx.com"
            ><span class="head-office__span">Email:</span> hello@createx.com</a
          >
        </div>
      </div>
      <div class="footer__item">
        <ul class="list-reset footer-menu">
          <li class="footer-menu__item">
            <h3 class="text-reset text color-white">WHO WE ARE</h3>
            <ul class="footer-submenu">
              <li class="footer-submenu__item">
                <a
                  class="text-reset text color-white footer-submenu__link"
                  href="#"
                >
                  About us
                </a>
              </li>
              <li class="footer-submenu__item">
                <a
                  class="text-reset text color-white footer-submenu__link"
                  href="#"
                >
                  Available Positions
                </a>
              </li>
              <li class="footer-submenu__item">
                <a
                  class="text-reset text color-white footer-submenu__link"
                  href="#"
                >
                  Contacts
                </a>
              </li>
            </ul>
          </li>
          <li class="footer-menu__item">
            <h3 class="text-reset text color-white">OUR EXPERIENCE</h3>
            <ul class="footer-submenu">
              <li class="footer-submenu__item">
                <a
                  class="text-reset text color-white footer-submenu__link"
                  href="#"
                >
                  Services
                </a>
              </li>
              <li class="footer-submenu__item">
                <a
                  class="text-reset text color-white footer-submenu__link"
                  href="#"
                >
                  Work
                </a>
              </li>
              <li class="footer-submenu__item">
                <a
                  class="text-reset text color-white footer-submenu__link"
                  href="#"
                >
                  News
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <p class="copyright">
          © All rights reserved. Made with
          <svg class="copyright__icon">
            <use xlink:href="img/sprite.svg#heart"></use>
          </svg>
          by Createx Studio
        </p>
        <div class="scroll-top">
          <span class="scroll-top__text">go to top </span>
          <a
            class="btn-reset button button_background-primary scroll-top__button"
            href="#header"
          >
            <svg class="scroll-top__icon">
              <use xlink:href="img/sprite.svg#up-chevron"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
