<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__item">
        <a class="logo" tabindex="-1">
          <img
            src="img/footer-logo.svg"
            alt="CreateX"
            loading="lazy"
            width="142"
            height="24"
          />
        </a>
        <ul class="list-reset social">
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Our Whatsapp Contacts"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Our Messanger Contacts"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#messanger"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Our Facebook page"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Our Twitter page"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              aria-label="Our YouTube channel"
            >
              <svg class="social__icon">
                <use xlink:href="img/sprite.svg#youTube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="text-reset footer__text">
          Createx Construction Bureau has been successfully operating in the USA
          construction market since 2000. We are proud to offer you quality
          construction and exemplary service. Our mission is to set the highest
          standards for construction sphere.
        </p>
      </div>
      <div class="footer__item footer__item_touch">
        <h3 class="text-reset footer__subtitle mgb-xs-24">
          Let’s stay in touch
        </h3>
        <form class="newsletter-subscription-form form" action="#">
          <label class="form__label">
            <input
              class="input-reset form__input form__input_email"
              name="email"
              type="text"
              placeholder="Your email addres"
            />
            <span class="validate-error-message"></span>
          </label>
          <button class="btn-reset button form__button" type="submit">
            subscribe
          </button>
        </form>
        <p class="text-reset footer__text">
          *Subscribe to our newsletter to receive communications and early
          updates from Createx Construction Bureau.
        </p>
      </div>
      <div class="footer__item">
        <div class="head-office">
          <h3 class="text-reset head-office__subtitle">Head office</h3>
          <div class="head-office__content">
            <address class="text-reset head-office__text head-office__address">
              Address:
              <span class="head-office__span">
                8502 Preston Rd. Inglewood, New York
              </span>
            </address>
            <a
              class="text-reset head-office__text head-office__tel"
              href="tel:+4055550128"
            >
              Call:
              <span class="head-office__span">(405) 555-0128</span>
            </a>
            <a
              class="text-reset head-office__text head-office__email"
              href="mailto:hello@createx.com"
            >
              Email:
              <span class="head-office__span">hello@createx.com</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__item">
        <ul class="list-reset footer-menu">
          <li class="footer-menu__item">
            <h3 class="text-reset footer-menu__subtitle">WHO WE ARE</h3>
            <ul class="list-reset footer-submenu">
              <li class="footer-submenu__item">
                <a class="text-reset footer-submenu__link" href="#">About us</a>
              </li>
              <li class="footer-submenu__item">
                <a class="text-reset footer-submenu__link" href="#">
                  Available Positions
                </a>
              </li>
              <li class="footer-submenu__item">
                <a class="text-reset footer-submenu__link" href="#">Contacts</a>
              </li>
            </ul>
          </li>
          <li class="footer-menu__item">
            <h3 class="text-reset footer-menu__subtitle">OUR EXPERIENCE</h3>
            <ul class="list-reset footer-submenu">
              <li class="footer-submenu__item">
                <a class="text-reset footer-submenu__link" href="#">Services</a>
              </li>
              <li class="footer-submenu__item">
                <a class="text-reset footer-submenu__link" href="#">Work</a>
              </li>
              <li class="footer-submenu__item">
                <a class="text-reset footer-submenu__link" href="#">News</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <p class="text-reset copyright">
          © All rights reserved. Made with
          <svg class="copyright__icon">
            <use xlink:href="img/sprite.svg#heart"></use>
          </svg>
          by Createx Studio
        </p>
      </div>
      <div class="footer__item">
        <div class="scroll-top">
          <span class="text-reset scroll-top__text">go to top</span>
          <a class="btn-reset button smooth-scroll" href="#header">
            <svg class="scroll-top__icon">
              <use xlink:href="img/sprite.svg#up-chevron"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
