<header class="header" id="header">
  <div class="container">
    <a class="logo">
      <img src="img/logo.svg" alt="CreateX" width="130" height="22" />
    </a>
    <nav class="navigation">
      <ul class="list-reset navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#about-us"> About us </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#services"> Services </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#work"> Work </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="news"> News </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="contacts"> Contacts </a>
        </li>
      </ul>
    </nav>
    <a class="means-of-communication" href="tel:+4055550128">
      <svg class="means-of-communication__icon">
        <use xlink:href="img/sprite.svg#phone-icon"></use>
      </svg>
      <span class="means-of-communication__text"> Call us </span>
      <span class="means-of-communication__contact"> (405) 555-0128 </span>
    </a>
    <a class="means-of-communication" href="mailto:hello@createx.com">
      <svg class="means-of-communication__icon">
        <use xlink:href="img/sprite.svg#chat-icon"></use>
      </svg>
      <span class="means-of-communication__text"> Talk to us </span>
      <span class="means-of-communication__contact"> hello@createx.com</span>
    </a>
  </div>
</header>
