<section class="how-we-do">
  <div class="container">
    <h2 class="text-reset title mgb-sm-60 mgb-xs-24 color-ebony-clay">
      That’s how we do it
    </h2>
    <ul class="list-reset how-we-do__list">
      <li class="how-we-do__item">
        <h4 class="text-reset caption color-ebony-clay">Work Estimate</h4>
        <p class="text-reset text color-storm-gray">
          Culpa nostrud commodo ea consequat aliquip reprehenderit.
        </p>
      </li>
      <li class="how-we-do__item">
        <h4 class="text-reset caption color-ebony-clay">Contract</h4>
        <p class="text-reset text color-storm-gray">
          Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit
          imperdiet auctor et tempor.
        </p>
      </li>
      <li class="how-we-do__item">
        <h4 class="text-reset caption color-ebony-clay">Mobilization</h4>
        <p class="text-reset text color-storm-gray">
          Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
        </p>
      </li>
      <li class="how-we-do__item">
        <h4 class="text-reset caption color-ebony-clay">Construction Work</h4>
        <p class="text-reset text color-storm-gray">
          Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore
          et ad et veniam ad deserunt.
        </p>
      </li>
    </ul>
  </div>
</section>
