<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="text-reset lead mgb-xs-24 color-white">
        CREATE
        <span class="color-primary">X</span>
        CONSTRUCTION
      </h1>
      <h4 class="text-reset caption mgb-sm-60 mgb-xs-24 color-white">
        Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat,
        dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget
        pellentesque integer ipsum elementum felis.
      </h4>
      <a
        class="btn-reset button button_size-large button_color-white button_border-white button_animation-dark-style hero__button"
        href="#"
      >
        Learn more about us
      </a>
      <button
        class="btn-reset button button_size-large button_color-white button_background-primary button_animation-light-style hero__button"
        type="button"
      >
        SUBMIT REQUEST
      </button>
      <div class="slider-progressbar">
        <ul class="list-reset slider-progressbar__list"></ul>
      </div>
    </div>
  </div>
  <div class="buttons-slider hero__prev">
    <div
      class="swiper-button-prev buttons-slider__button buttons-slider__button_bg-white buttons-slider__button_animation-style-primary buttons-slider__button_prev"
    >
      <svg class="buttons-slider__icon">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            type="image/avif"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.avif"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.webp"
          />
          <source
            type="image/avif"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.avif"
          />
          <source
            type="image/webp"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.webp"
          />
          <img
            class="hero__img"
            src="img/hero-slide-one__desctop."
            alt="Construction crane"
            width="1920"
            height="988"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            type="image/avif"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.avif"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.webp"
          />
          <source
            type="image/avif"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.avif"
          />
          <source
            type="image/webp"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.webp"
          />
          <img
            class="hero__img"
            src="img/hero-slide-one__desctop."
            alt="Construction crane"
            width="1920"
            height="988"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            type="image/avif"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.avif"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.webp"
          />
          <source
            type="image/avif"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.avif"
          />
          <source
            type="image/webp"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.webp"
          />
          <img
            class="hero__img"
            src="img/hero-slide-one__desctop."
            alt="Construction crane"
            width="1920"
            height="988"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            type="image/avif"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.avif"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="img/hero-slide-one__desctop.webp"
          />
          <source
            type="image/avif"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.avif"
          />
          <source
            type="image/webp"
            media="(max-width:767.98px)"
            srcset="img/hero-slide-one__mobile.webp"
          />
          <img
            class="hero__img"
            src="img/hero-slide-one__desctop."
            alt="Construction crane"
            width="1920"
            height="988"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="buttons-slider hero__next">
    <div
      class="swiper-button-next buttons-slider__button buttons-slider__button_bg-white buttons-slider__button_animation-style-primary buttons-slider__button_next"
    >
      <svg class="buttons-slider__icon">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
</section>
