<div class="modal modal-successful-sending modal-successful-sending_success">
  <div class="modal__body modal-successful-sending__body">
    <div class="modal__content">
      <p
        class="text-reset modal-successful-sending__status modal-successful-sending__status_success"
      >
        Form submitted successfully!
      </p>
      <p
        class="text-reset modal-successful-sending__status modal-successful-sending__status_error"
      >
        An error has occurred, try again!
      </p>
      <button class="btn-reset modal__close" type="button">
        <svg class="modal__icon">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
