<section class="our-services">
  <div class="container">
    <h2 class="text-reset title">Our services</h2>
    <p class="text-reset desc">
      Createx Construction Bureau is a construction giant with a full range of
      construction services.
    </p>
    <ul class="list-reset cards-services">
      <li class="cards-services__item cards-services__item_construction">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
          <span class="text-reset cards-services__title">Construction</span>
        </a>
      </li>
      <li class="cards-services__item cards-services__item_project-development">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#development"></use>
          </svg>
          <span class="text-reset cards-services__title">
            Project Development
          </span>
        </a>
      </li>
      <li class="cards-services__item cards-services__item_interior-design">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#design"></use>
          </svg>
          <span class="text-reset cards-services__title">Interior Design</span>
        </a>
      </li>
      <li class="cards-services__item cards-services__item_repairs">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#repairs"></use>
          </svg>
          <span class="text-reset cards-services__title">Repairs</span>
        </a>
      </li>
    </ul>
    <div class="see-more">
      <h3 class="text-reset see-more__title">Learn more about our services</h3>
      <a class="btn-reset button" href="#">View services</a>
    </div>
  </div>
</section>
