<section class="our-history">
  <div class="container">
    <h2 class="text-reset title">Our history</h2>
    <div class="swiper">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              type="image/avif"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.avif"
            />
            <source
              type="image/webp"
              media="(min-width:1024px)"
              srcset="img/our-history-img__desctop.webp"
            />
            <source
              type="image/avif"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.avif"
            />
            <source
              type="image/webp"
              media="(max-width:1023.98px)"
              srcset="img/our-history-img__tablet.webp"
            />
            <img
              class="our-history__img"
              src="img/our-history-img__desctop.webp"
              alt="Construction"
              loading="lazy"
              width="810"
              height="450"
            />
          </picture>
          <p class="text-reset our-history__text">
            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra
            porttitor in. Eu nec vitae, malesuada vitae egestas integer et
            morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque
            dapibus. Eu nec vitae,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
