<section class="hero">
  <div class="container">
    <ul class="list-reset crumbs">
      <li class="crumbs__item">
        <a class="crumbs__link" href="index.html">Homepage</a>
      </li>
      <li class="crumbs__item">
        <a class="crumbs__link">Work</a>
      </li>
    </ul>
    <div class="hero__content">
      <h1 class="text-reset lead">OUR WORK</h1>
      <p class="text-reset hero__desc">
        Our portfolio represents 20 years of construction experience backed by a
        passion for perfect client service, quality and innovations in
        consctuction industry.
      </p>
    </div>
  </div>
</section>
