<section class="our-services">
  <div class="container">
    <h2 class="text-reset title title_center mgb-xs-24 color-ebony-clay">
      Our services
    </h2>
    <p class="text-reset desc desc_center mgb-sm-60 mgb-xs-24 color-storm-gray">
      Createx Construction Bureau is a construction giant with a full range of
      construction services.
    </p>
    <ul class="list-reset cards-services">
      <li class="cards-services__item cards-services__item_construction">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
          <span class="text-reset caption color-ebony-clay">Construction</span>
        </a>
      </li>
      <li class="cards-services__item cards-services__item_project-development">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#development"></use>
          </svg>
          <span class="text-reset caption color-ebony-clay">
            Project Development
          </span>
        </a>
      </li>
      <li class="cards-services__item cards-services__item_interior-design">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#design"></use>
          </svg>
          <span class="text-reset caption color-ebony-clay">
            Interior Design
          </span>
        </a>
      </li>
      <li class="cards-services__item cards-services__item_repairs">
        <a class="cards-services__link" href="#">
          <svg class="cards-services__icon">
            <use xlink:href="img/sprite.svg#repairs"></use>
          </svg>
          <span class="text-reset caption color-ebony-clay">Repairs</span>
        </a>
      </li>
    </ul>
    <div class="see-more">
      <h3 class="text-reset subtitle color-ebony-clay">
        Learn more about our services
      </h3>
      <a
        class="btn-reset button button_size-large button_color-white button_background-primary button_animation-dark-style"
        href="#"
      >
        View services
      </a>
    </div>
  </div>
</section>
