<section class="our-benefits">
  <div class="container">
    <h2 class="text-reset title title_center mgb-xs-24 color-white">
      Our benefits
    </h2>
    <p class="text-reset desc desc_center mgb-sm-60 mgb-xs-24 color-storm-gray">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <ul class="list-reset our-qualities">
      <li class="our-qualities__item our-qualities__item_fixed-terms">
        <h4 class="text-reset caption color-white">Fixed Terms & Cost</h4>
        <p class="text-reset text color-storm-gray">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
          nostrud aliquip sunt.
        </p>
      </li>
      <li class="our-qualities__item our-qualities__item_qualified-workers">
        <h4 class="text-reset caption color-white">Qualified Workers</h4>
        <p class="text-reset text color-storm-gray">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum
          adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="our-qualities__item our-qualities__item_supervision-control">
        <h4 class="text-reset caption color-white">Supervision & Control</h4>
        <p class="text-reset text color-storm-gray">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
          voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>
    <a
      class="btn-reset button button_color-white button_background-primary button_animation-light-style our-benefits__button"
      href="#"
    >
      Discuss a project
    </a>
  </div>
</section>
