<section class="partners">
  <div class="container">
    <h2 class="text-reset title title_center mgb-sm-60 color-ebony-clay">
      Supported by 12+ partners
    </h2>
    <ul class="list-reset partners-list">
      <li class="partners-list__item">
        <a class="partners-list__link" href="#" target="_blank">
          <picture>
            <source type="image/avif" srcset="img/depth-consulting.avif" />
            <source type="image/webp" srcset="img/depth-consulting.webp" />
            <img
              class="image"
              src="img/depth-consulting.webp"
              alt="In depth consulting"
              loading="lazy"
              width="120"
              height="64"
            />
          </picture>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="#" target="_blank">
          <picture>
            <source type="image/avif" srcset="img/higher-fit.avif" />
            <source type="image/webp" srcset="img/higher-fit.webp" />
            <img
              class="image"
              src="img/higher-fit.webp"
              alt="Higher fit"
              loading="lazy"
              width="120"
              height="64"
            />
          </picture>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="#" target="_blank">
          <picture>
            <source type="image/avif" srcset="img/sentinal-consulting.avif" />
            <source type="image/webp" srcset="img/sentinal-consulting.webp" />
            <img
              class="image"
              src="img/sentinal-consulting.webp"
              alt="Sentinal consulting"
              loading="lazy"
              width="120"
              height="64"
            />
          </picture>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="#" target="_blank">
          <picture>
            <source type="image/avif" srcset="img/happy-home.avif" />
            <source type="image/webp" srcset="img/happy-home.webp" />
            <img
              class="image"
              src="img/happy-home.webp"
              alt="Happy home"
              loading="lazy"
              width="120"
              height="64"
            />
          </picture>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="#" target="_blank">
          <picture>
            <source type="image/avif" srcset="img/for-sale.avif" />
            <source type="image/webp" srcset="img/for-sale.webp" />
            <img
              class="image"
              src="img/for-sale.webp"
              alt="For sale"
              loading="lazy"
              width="120"
              height="64"
            />
          </picture>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="#" target="_blank">
          <picture>
            <source type="image/avif" srcset="img/sunset-realty.avif" />
            <source type="image/webp" srcset="img/sunset-realty.webp" />
            <img
              class="image"
              src="img/sunset-realty.webp"
              alt="Sunset realty"
              loading="lazy"
              width="120"
              height="64"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
