<section class="pricing">
  <div class="container">
    <h2 class="text-reset title title_center mgb-xs-24 color-ebony-clay">
      Pricing
    </h2>
    <p class="text-reset desc desc_center mgb-sm-60 mgb-xs-24 color-storm-gray">
      We offer you three categories of construction.
    </p>
    <table class="pricing__table">
      <tr>
        <th class="text-reset text color-ebony-clay">Items</th>
        <th class="text-reset caption">
          BASIC
          <span class="text-reset text color-storm-gray pricing__price">
            $20 per m2
          </span>
        </th>
        <th class="text-reset caption">
          STANDARD
          <span class="text-reset text color-storm-gray pricing__price">
            $30 per m2
          </span>
        </th>
        <th class="text-reset caption">
          BUSINESS
          <span class="text-reset text color-storm-gray pricing__price">
            $40 per m2
          </span>
        </th>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">
          Installation plan
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">
          Planning solutions (2-3 options)
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">Lighting plan</td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">Flooring plan</td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">
          Heating floor laying scheme
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">
          Air conditioner zones layout
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">
          3D visualization of all rooms
        </td>
        <td class="test-reset text color-mako pricing__cell">simplified</td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">
          Visualization of each room (3-4 angles)
        </td>
        <td class="pricing__cell"></td>
        <td class="pricing__cell"></td>
        <td class="pricing__cell">
          <img
            src="img/mark.svg"
            alt="mark"
            loading="lazy"
            width="24"
            height="16"
          />
        </td>
      </tr>
      <tr>
        <td class="test-reset text color-mako pricing__cell">Terms</td>
        <td class="test-reset text color-mako pricing__cell">10 days</td>
        <td class="test-reset text color-mako pricing__cell">20 days</td>
        <td class="test-reset text color-mako pricing__cell">30 days</td>
      </tr>
      <tr>
        <td class="pricing__cell"></td>
        <td class="pricing__cell pricing__cell_button">
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            send request
          </a>
        </td>
        <td class="pricing__cell pricing__cell_button">
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            send request
          </a>
        </td>
        <td class="pricing__cell pricing__cell_button">
          <a
            class="btn-reset button button_size-regular button_border-primary button_color-primary button_animation-dark-style"
            href="#"
          >
            send request
          </a>
        </td>
      </tr>
    </table>
  </div>
</section>
