<section class="pricing">
  <div class="container">
    <h2 class="text-reset title">Pricing</h2>
    <p class="text-reset desc">
      We offer you three categories of construction.
    </p>
    <div class="buttons-slider">
      <div
        class="swiper-button-prev buttons-slider__button buttons-slider__button_prev"
      >
        <svg class="buttons-slider__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
      <div
        class="swiper-button-next buttons-slider__button buttons-slider__button_next"
      >
        <svg class="buttons-slider__icon">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <table class="pricing__table">
            <tr>
              <th class="text-reset pricing__subtitle">Items</th>
              <th class="text-reset pricing__subtitle">
                BASIC
                <span class="text-reset pricing__price-tag">$20 per m2</span>
              </th>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Installation plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Planning solutions (2-3 options)
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Lighting plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Flooring plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Heating floor laying scheme
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Air conditioner zones layout
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                3D visualization of all rooms
              </td>
              <td class="pricing__text pricing__cell">simplified</td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Visualization of each room (3-4 angles)
              </td>
              <td class="pricing__text pricing__cell">&mdash;</td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Terms</td>
              <td class="pricing__text pricing__cell">10 days</td>
            </tr>
            <tr>
              <td class="pricing__cell"></td>
              <td class="pricing__cell pricing__cell_button">
                <a class="btn-reset button" href="#">send request</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="swiper-slide">
          <table class="pricing__table">
            <tr>
              <th class="text-reset pricing__subtitle">Items</th>
              <th class="text-reset pricing__subtitle">
                STANDARD
                <span class="text-reset pricing__price-tag">$30 per m2</span>
              </th>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Installation plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Planning solutions (2-3 options)
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Lighting plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Flooring plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Heating floor laying scheme
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Air conditioner zones layout
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                3D visualization of all rooms
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Visualization of each room (3-4 angles)
              </td>
              <td class="pricing__text pricing__cell">&mdash;</td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Terms</td>
              <td class="pricing__text pricing__cell">20 days</td>
            </tr>
            <tr>
              <td class="pricing__cell"></td>
              <td class="pricing__cell pricing__cell_button">
                <a class="btn-reset button" href="#">send request</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="swiper-slide">
          <table class="pricing__table">
            <tr>
              <th class="text-reset pricing__subtitle">Items</th>
              <th class="text-reset pricing__subtitle">
                BUSINESS
                <span class="text-reset pricing__price-tag">$40 per m2</span>
              </th>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Installation plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Planning solutions (2-3 options)
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Lighting plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Flooring plan</td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Heating floor laying scheme
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Air conditioner zones layout
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                3D visualization of all rooms
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">
                Visualization of each room (3-4 angles)
              </td>
              <td class="pricing__cell">
                <img
                  src="img/mark.svg"
                  alt="mark"
                  loading="lazy"
                  width="24"
                  height="16"
                />
              </td>
            </tr>
            <tr>
              <td class="pricing__text pricing__cell">Terms</td>
              <td class="pricing__text pricing__cell">30 days</td>
            </tr>
            <tr>
              <td class="pricing__cell"></td>
              <td class="pricing__cell pricing__cell_button">
                <a class="btn-reset button" href="#">send request</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
