<section class="quotation">
  <div class="container">
    <div class="quotation__item quotation__item_img">
      <picture>
        <source type="image/avif" srcset="img/courtney-alexander.avif" />
        <img
          class="quotation__img"
          src="img/courtney-alexander.webp"
          alt="White man in formal suit"
          loading="lazy"
          width="525"
          height="580"
        />
      </picture>
    </div>
    <div class="quotation__item quotation__item_quote">
      <figure class="quote">
        <blockquote>
          <h3 class="text-reset quote__text">
            Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in.
            Sed aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis
            non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut
            blandit et mi. Odio massa purus vel praesent arcu enim elit felis
            viverra.
          </h3>
          <h3 class="text-reset quote__text">
            Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra
            quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum
            integer.
          </h3>
        </blockquote>
        <figcaption>
          <h4 class="text-reset quote__author">Courtney Alexander</h4>
          <cite class="text-reset quote__cite">
            CEO - Createx Construction Bureau
          </cite>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
