<section class="recent-news">
  <div class="container">
    <h2 class="text-reset title">Recent news</h2>
    <ul class="list-reset recent-news__list">
      <li class="recent-news__item recent-news__item_large">
        <article
          class="news news_xs-size-l news_lg-size-xl"
          data-news="building-stable-loss"
        >
          <div class="news__content">
            <h3 class="text-reset news__title">
              <a class="news__link" href="#" target="_blank">
                How to Build Climate Change-Resilient Infrastructure
              </a>
            </h3>
            <ul class="list-reset tags">
              <li class="tags__item">
                <p class="text-reset tags__text">Industry News</p>
              </li>
              <li class="tags__item">
                <time class="text-reset tags__text" datetime="2020-06-24 19:00">
                  June 24, 2020
                </time>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#chat-icon"></use>
                </svg>
                <p class="text-reset tags__text">
                  <span class="tags__amount-comments">4</span>
                  comments
                </p>
              </li>
            </ul>
            <p class="text-reset news__text">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis Ipsum aliquet nisi,
              hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt
              aliquet sit vel, venenatis nulla. Integer bibendum turpis
              convallis enim, nibh convallis
            </p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article
          class="news news_xs-size-l"
          data-news="construction-assistance"
        >
          <div class="news__content">
            <h3 class="text-reset news__title">
              <a class="news__link" href="#" target="_blank">
                How Construction Can Help Itself
              </a>
            </h3>
            <ul class="list-reset tags">
              <li class="tags__item">
                <p class="text-reset tags__text">Innovation</p>
              </li>
              <li class="tags__item">
                <time class="text-reset tags__text" datetime="2020-06-12 19:00">
                  June 12, 2020
                </time>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#chat-icon"></use>
                </svg>
                <p class="text-reset tags__text">
                  <span class="tags__amount-comments"></span>
                  No comments
                </p>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article
          class="news news_xs-size-l"
          data-news="types-flooring-materials"
        >
          <div class="news__content">
            <h3 class="text-reset news__title">
              <a class="news__link" href="#" target="_blank">
                Types of Flooring Materials
              </a>
            </h3>
            <ul class="list-reset tags">
              <li class="tags__item">
                <p class="text-reset tags__text">Company News</p>
              </li>
              <li class="tags__item">
                <time class="text-reset tags__text" datetime="2019-12-01 19:00">
                  December 1, 2019
                </time>
              </li>
              <li class="tags__item tags__item_flex">
                <svg class="tags__icon">
                  <use xlink:href="img/sprite.svg#chat-icon"></use>
                </svg>
                <p class="text-reset tags__text">
                  <span class="tags__amount-comments"></span>
                  No comments
                </p>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
    <div class="see-more">
      <h3 class="text-reset see-more__title">Explore all our news posts</h3>
      <a class="btn-reset button" href="#">View all news</a>
    </div>
  </div>
</section>
