<section class="recent-news">
  <div class="container">
    <h2
      class="text-reset title title_center mgb-sm-60 mgb-xs-24 color-ebony-clay"
    >
      Recent news
    </h2>
    <ul class="list-reset recent-news__list">
      <li class="recent-news__item recent-news__item_large">
        <article
          class="news news_xs-size-l news_lg-size-xl"
          data-news="building-stable-loss"
        >
          <div class="news__content">
            <h4 class="text-reset caption">
              <a class="color-ebony-clay" href="#" target="_blank"
                >How to Build Climate Change-Resilient Infrastructure</a
              >
            </h4>
            <ul class="list-reset news__list">
              <li class="news__item">
                <p class="text-reset text color-storm-gray">Industry News</p>
              </li>
              <li class="news__item">
                <time
                  class="text-reset text color-storm-gray"
                  datetime="2020-06-24 19:00"
                  >June 24, 2020</time
                >
              </li>
              <li class="news__item news__item_flex">
                <svg class="news__chat">
                  <use xlink:href="img/sprite.svg#chat-icon"></use>
                </svg>
                <p class="text-reset text color-storm-gray">
                  <span class="news__amount-comments">4</span>
                  comments
                </p>
              </li>
            </ul>
            <p class="text-reset text color-ebony-clay news__text">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas
              faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer
              bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article
          class="news news_xs-size-l"
          data-news="construction-assistance"
        >
          <div class="news__content">
            <h4 class="text-reset caption">
              <a class="color-ebony-clay" href="#" target="_blank"
                >How Construction Can Help Itself</a
              >
            </h4>
            <ul class="list-reset news__list">
              <li class="news__item">
                <p class="text-reset text color-storm-gray">Innovation</p>
              </li>
              <li class="news__item">
                <time
                  class="text-reset text color-storm-gray"
                  datetime="2020-06-12 19:00"
                  >June 12, 2020</time
                >
              </li>
              <li class="news__item news__item_flex">
                <svg class="news__chat">
                  <use xlink:href="img/sprite.svg#chat-icon"></use>
                </svg>
                <p class="text-reset text color-storm-gray">
                  <span class="news__amount-comments"></span>
                  No comments
                </p>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article
          class="news news_xs-size-l"
          data-news="types-flooring-materials"
        >
          <div class="news__content">
            <h4 class="text-reset caption">
              <a class="color-ebony-clay" href="#" target="_blank"
                >Types of Flooring Materials</a
              >
            </h4>
            <ul class="list-reset news__list">
              <li class="news__item">
                <p class="text-reset text color-storm-gray">Company News</p>
              </li>
              <li class="news__item">
                <time
                  class="text-reset text color-storm-gray"
                  datetime="2019-12-01 19:00"
                  >December 1, 2019</time
                >
              </li>
              <li class="news__item news__item_flex">
                <svg class="news__chat">
                  <use xlink:href="img/sprite.svg#chat-icon"></use>
                </svg>
                <p class="text-reset text color-storm-gray">
                  <span class="news__amount-comments"></span>
                  No comments
                </p>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
    <div class="see-more">
      <h3 class="text-reset subtitle color-ebony-clay">
        Explore all our news posts
      </h3>
      <a
        class="btn-reset button button_size-large button_color-white button_background-primary"
        href="#"
      >
        View all news
      </a>
    </div>
  </div>
</section>
