<section class="reviews">
  <div class="container">
    <div class="reviews__grid">
      <div class="reviews__item">
        <h2 class="text-reset title mgb-sm-60 color-ebony-clay">
          What our clients are saying
        </h2>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="review">
                <picture>
                  <source type="image/avif" srcset="img/shawn-edwards.avif" />
                  <source type="image/webp" srcset="img/shawn-edwards.webp" />
                  <img
                    class="review__img mgb-sm-24"
                    src="img/shawn-edwards.webp"
                    alt="Man"
                    loading="lazy"
                    width="72"
                    height="72"
                  />
                </picture>
                <p class="text-reset text color-ebony-clay mgb-sm-24">
                  Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                  eiusmod enim. Consectetur magna cillum consequat minim laboris
                  cillum laboris voluptate minim proident exercitation ullamco.
                </p>
                <h3 class="text-reset text color-ebony-clay review__name">
                  Shawn Edwards
                </h3>
                <p class="text-reset text color-storm-gray review__job">
                  Position, Company name
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="review">
                <picture>
                  <source type="image/avif" srcset="img/shawn-edwards.avif" />
                  <source type="image/webp" srcset="img/shawn-edwards.webp" />
                  <img
                    class="review__img mgb-sm-24"
                    src="img/shawn-edwards.webp"
                    alt="Man"
                    loading="lazy"
                    width="72"
                    height="72"
                  />
                </picture>
                <p class="text-reset text color-ebony-clay mgb-sm-24">
                  Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                  eiusmod enim. Consectetur magna cillum consequat minim laboris
                  cillum laboris voluptate minim proident exercitation ullamco.
                </p>
                <h3 class="text-reset text color-ebony-clay review__name">
                  Shawn Edwards
                </h3>
                <p class="text-reset text color-storm-gray review__job">
                  Position, Company name
                </p>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="review">
                <picture>
                  <source type="image/avif" srcset="img/shawn-edwards.avif" />
                  <source type="image/webp" srcset="img/shawn-edwards.webp" />
                  <img
                    class="review__img mgb-sm-24"
                    src="img/shawn-edwards.webp"
                    alt="Man"
                    loading="lazy"
                    width="72"
                    height="72"
                  />
                </picture>
                <p class="text-reset text color-ebony-clay mgb-sm-24">
                  Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                  eiusmod enim. Consectetur magna cillum consequat minim laboris
                  cillum laboris voluptate minim proident exercitation ullamco.
                </p>
                <h3 class="text-reset text color-ebony-clay review__name">
                  Shawn Edwards
                </h3>
                <p class="text-reset text color-storm-gray review__job">
                  Position, Company name
                </p>
              </article>
            </div>
          </div>
          <div class="buttons-slider">
            <div
              class="swiper-button-next buttons-slider__button buttons-slider__button_next"
            >
              <svg class="buttons-slider__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </div>
            <div
              class="swiper-button-prev buttons-slider__button buttons-slider__button_prev"
            >
              <svg class="buttons-slider__icon">
                <use xlink:href="img/sprite.svg#arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews__item reviews__item_img">
        <picture>
          <source type="image/avif" srcset="img/reviews-img__desctop.avif" />
          <source type="image/webp" srcset="img/reviews-img__desctop.webp" />
          <img
            class="reviews__img"
            src="img/reviews-img__desctop."
            alt="People making a contract"
            loading="lazy"
            width="495"
            height="550"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
