<section class="selected-projects">
  <div class="container">
    <div class="selected-projects__group">
      <h2 class="text-reset title color-ebony-clay">
        Browse our selected projects and learn more about our work
      </h2>
      <div class="buttons-slider">
        <div
          class="swiper-button-next buttons-slider__button buttons-slider__button_bg-primary buttons-slider__button_animation-two buttons-slider__button_next"
        >
          <svg class="buttons-slider__icon">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div
          class="swiper-button-prev buttons-slider__button buttons-slider__button_bg-primary buttons-slider__button_animation-two buttons-slider__button_prev"
        >
          <svg class="buttons-slider__icon">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-project" tabindex="0">
            <picture>
              <source
                type="image/avif"
                srcset="img/red-finger-building__desctop.avif"
              />
              <img
                class="card-project__img"
                src="img/red-finger-building__desctop.webp"
                alt="Red multistory building"
                loading="lazy"
                width="390"
                height="345"
              />
            </picture>
            <div class="card-project__content">
              <h4 class="text-reset caption caption_center color-ebony-clay">
                Red Finger Building
              </h4>
              <p class="text-reset desc desc_center color-storm-gray">
                Business Centers
              </p>
              <div class="card-project__button-container">
                <a
                  class="btn-reset button button_size-regular button_border-primary button_color-primary card-project__button"
                  href="#"
                >
                  View project
                </a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-project" tabindex="0">
            <picture>
              <source
                type="image/avif"
                srcset="img/cubes-building__desctop.avif"
              />
              <img
                class="card-project__img"
                src="img/cubes-building__desctop.webp"
                alt="Blue high-rise building in the form of cubes"
                loading="lazy"
                width="390"
                height="345"
              />
            </picture>
            <div class="card-project__content">
              <h4 class="text-reset caption caption_center color-ebony-clay">
                Cubes Building
              </h4>
              <p class="text-reset desc desc_center color-storm-gray">
                Business Centers
              </p>
              <div class="card-project__button-container">
                <a
                  class="btn-reset button button_size-regular button_border-primary button_color-primary card-project__button"
                  href="#"
                >
                  View project
                </a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-project" tabindex="0">
            <picture>
              <source
                type="image/avif"
                srcset="img/pencil-building__desctop.avif"
              />
              <img
                class="card-project__img"
                src="img/pencil-building__desctop.webp"
                alt="Multi-storey building with a gabled roof"
                loading="lazy"
                width="390"
                height="345"
              />
            </picture>
            <div class="card-project__content">
              <h4 class="text-reset caption caption_center color-ebony-clay">
                The Pencil Building
              </h4>
              <p class="text-reset desc desc_center color-storm-gray">
                Stores & Malls
              </p>
              <div class="card-project__button-container">
                <a
                  class="btn-reset button button_size-regular button_border-primary button_color-primary card-project__button"
                  href="#"
                >
                  View project
                </a>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-project" tabindex="0">
            <picture>
              <source
                type="image/avif"
                srcset="img/pencil-building__desctop.avif"
              />
              <img
                class="card-project__img"
                src="img/pencil-building__desctop.webp"
                alt="Multi-storey building with a gabled roof"
                loading="lazy"
                width="390"
                height="345"
              />
            </picture>
            <div class="card-project__content">
              <h4 class="text-reset caption caption_center color-ebony-clay">
                The Pencil Building
              </h4>
              <p class="text-reset desc desc_center color-storm-gray">
                Stores & Malls
              </p>
              <div class="card-project__button-container">
                <a
                  class="btn-reset button button_size-regular button_border-primary button_color-primary card-project__button"
                  href="#"
                >
                  View project
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="see-more">
      <h3 class="text-reset subtitle color-ebony-clay">
        Explore all our works
      </h3>
      <a
        class="btn-reset button button_size-large button_color-white button_background-primary button_animation-three"
        href="#"
      >
        View portfolio
      </a>
    </div>
  </div>
</section>
