<section class="services">
  <div class="container">
    <h2 class="text-reset title title_center mgb-sm-24 color-ebony-clay">
      Our services
    </h2>
    <p class="text-reset desc desc_center mgb-sm-60 color-storm-gray">
      Createx Construction Bureau is a construction giant with a full range of
      construction services.
    </p>
    <ul class="list-reset list-services">
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <svg class="list-services__icon">
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
          <h4 class="text-reset caption color-ebony-clay">Construction</h4>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <svg class="list-services__icon">
            <use xlink:href="img/sprite.svg#development"></use>
          </svg>
          <h4 class="text-reset caption color-ebony-clay">
            Project Development
          </h4>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <svg class="list-services__icon">
            <use xlink:href="img/sprite.svg#design"></use>
          </svg>
          <h4 class="text-reset caption color-ebony-clay">Interior Design</h4>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <svg class="list-services__icon">
            <use xlink:href="img/sprite.svg#repairs"></use>
          </svg>
          <h4 class="text-reset caption color-ebony-clay">Repairs</h4>
        </a>
      </li>
    </ul>
    <div class="services__learn">
      <h3 class="subtitle color-ebony-clay">Learn more about our services</h3>
      <button
        class="btn-reset button button_size-large button_color-white button_background-primary"
        type="submit"
      >
        View services
      </button>
    </div>
  </div>
</section>
