<section class="statistics">
  <div class="container">
    <ul class="list-reset statistics__list">
      <li class="statistics__item statistics__item_icon-recommendation">
        <p class="text-reset statistics__value">60%</p>
        <h3 class="text-reset statistics__subtitle">
          Clients on the recommendation of friends
        </h3>
      </li>
      <li class="statistics__item statistics__item_icon-painting">
        <p class="text-reset statistics__value">2400+</p>
        <h3 class="text-reset statistics__subtitle">Apartments renovated</h3>
      </li>
      <li class="statistics__item statistics__item_icon-helmet">
        <p class="text-reset statistics__value">670</p>
        <h3 class="text-reset statistics__subtitle">Qualified specialists</h3>
      </li>
      <li class="statistics__item statistics__item_icon-pantone">
        <p class="text-reset statistics__value">
          150000+
          <sup><small>m2</small></sup>
        </p>
        <h3 class="text-reset statistics__subtitle">
          Finishing work was carried out
        </h3>
      </li>
    </ul>
  </div>
</section>
