<section class="we-offer">
  <div class="container">
    <div class="we-offer__item we-offer__item_img">
      <picture>
        <source type="image/avif" srcset="img/we-offer-img.avif" />
        <img
          class="we-offer__img"
          src="img/we-offer-img.webp"
          alt="Kitchen"
          loading="lazy"
          width="705"
          height="44"
        />
      </picture>
    </div>
    <div class="we-offer__item we-offer__item_title">
      <h2 class="text-reset title">We offer</h2>
    </div>
    <div class="we-offer__item we-offer__item_accordion">
      <div class="accordion we-offer__accordion">
        <div class="accordion__item" data-test="accordion-1">
          <button
            class="btn-reset accordion__trigger"
            type="button"
            data-test="accordion-1-trigger"
          >
            <span class="text-reset accordion__subtitle">
              Interior design of apartments
            </span>
          </button>
          <div class="accordion__body">
            <div class="accordion__content" data-test="accordion-1-content">
              <p class="text-reset accordion__text">
                Adipiscing nunc arcu enim elit mattis eu placerat proin.
                Imperdiet elementum faucibus dignissim purus. Fusce parturient
                diam magna ullamcorper morbi semper massa ac facilisis.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion__item" data-test="accordion-2">
          <button
            class="btn-reset accordion__trigger"
            type="button"
            data-test="accordion-2-trigger"
          >
            <span class="text-reset accordion__subtitle">
              Interior design of private houses
            </span>
          </button>
          <div class="accordion__body">
            <div class="accordion__content" data-test="accordion-2-content">
              <p class="text-reset accordion__text">
                Adipiscing nunc arcu enim elit mattis eu placerat proin.
                Imperdiet elementum faucibus dignissim purus. Fusce parturient
                diam magna ullamcorper morbi semper massa ac facilisis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
