<section class="we-work-worldwide">
  <div class="container">
    <h2
      class="text-reset text-size-xl text-center mgb-sm-60 mgb-xs-24 color-ebony-clay"
    >
      We work worldwide
    </h2>
    <picture>
      <source
        type="image/avif"
        srcset="img/map-desctop.avif"
        media="(min-width:1024px)"
      />
      <source
        type="image/webp"
        srcset="img/map-desctop.webp"
        media="(min-width:1024px)"
      />
      <source
        type="image/avif"
        srcset="img/map-tablet.avif"
        media="(max-width:1023.98px) and (min-width: 576px)"
      />
      <source
        type="image/webp"
        srcset="img/map-tablet.webp"
        media="(max-width:1023.98px) and (min-width: 576px)"
      />
      <source
        type="image/avif"
        srcset="img/map-mobile.avif"
        media="(max-width:575.98px)"
      />
      <source
        type="image/webp"
        srcset="img/map-mobile.webp"
        media="(max-width:575.98px)"
      />
      <img
        class="we-work-worldwide__map"
        src="img/map-desctop.webp"
        alt="Map"
        loading="lazy"
        width="1230"
        height="563"
      />
    </picture>
  </div>
</section>
