@mixin color-animation($selector: false) {
  outline: none;

  @if ($selector) {
    #{$selector} {
      transition: color $transitionDuration;
    }
  } @else {
    transition: color $transitionDuration;
  }

  @include mouse-device {
    &:hover,
    &:focus {
      @if ($selector) {
        #{$selector} {
          color: var(--color-primary);
        }
      } @else {
        color: var(--color-primary);
      }
    }
  }

  @include touch-device {
    &:active {
      @if ($selector) {
        #{$selector} {
          color: var(--color-radicalRed);
        }
      } @else {
        color: var(--color-radicalRed);
      }
    }
  }
}
